<div class="container-fluid mt-4">
    <h2>Habitaciones</h2>
    <div class="d-flex justify-content-between mb-3">
        <button (click)="toggleForm()" class="btn btn-success"><i class="fa fa-plus"></i>
            Registrar Habitacion
        </button>
    </div>
    <table class="table table-striped table-bordered mt-3">
        <thead class="table-dark">
            <tr style="text-align: center;">
                <th scope="col">#</th>
                <th scope="col">Numero</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Estado</th>
                <th scope="col" *ngIf="showActions">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;" *ngFor="let habitacion of habitaciones; let i = index">
                <td>{{ i + 1 }}</td>
                <td hidden>{{ habitacion.id }}</td>
                <td>{{ habitacion.numero }}</td>
                <td>{{ habitacion.tipo }}</td>
                <td>{{ habitacion.descripcion }}</td>
                <td>{{ habitacion.precio }}</td>
                <td>{{ habitacion.capacidad }}</td>
                <td>{{ estadoMap[habitacion.idEstado + ''] }}</td>
                <td *ngIf="showActions">
                    <button class="btn btn-primary btn-sm me-1" (click)="editHabitacion(habitacion)"><i
                            class="fa fa-edit"></i> Editar</button>
                    <button class="btn btn-danger btn-sm ms-1" (click)="deleteHabitacion(habitacion)"><i
                            class="fa fa-trash"></i> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" #habitacionModalRef tabindex="-1" aria-labelledby="habitacionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="habitacionModalLabel">{{ modalText }}</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="habitacionForm" (ngSubmit)="onSumbmit()">
                        <div class="mb-3">
                            <label for="numero" class="form-label">Numero de Habitación</label>
                            <input id="numero" class="form-control" formControlName="numero" maxlength="30" />
                        </div>
                        <div class="mb-3">
                             <label for="tipo" class="form-label">Selecciona un Tipo</label>
                                 <select id="tipo" class="form-control" formControlName="tipo">
    
                                     <option value="Individual" selected>Individual</option>
                                     <option value="Doble">Doble</option>
                                     <option value="Suite">Suite</option>
                                     <option value="Familiar">Familiar</option>
                                 </select>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <input id="descripcion" class="form-control" formControlName="descripcion" maxlength="50" />
                        </div>
                        <div class="mb-3">
                            <label for="precio" class="form-label">Precio</label>
                            <input id="precio" class="form-control" formControlName="precio" maxlength="30" />
                        </div>
                        <div class="mb-3">
                            <label for="capacidad" class="form-label">Capacidad</label>
                            <input id="capacidad" class="form-control" formControlName="capacidad" maxlength="30" />
                        </div>
                        <div class="mb-3">
                             <label for="idEstado" class="form-label">Selecciona un estado</label>
                                 <select id="idEstado" class="form-control" formControlName="idEstado">
    
                                     <option value="1" selected>Disponible</option>
                                     <option value="2">Ocupada</option>
                                     <option value="3">En Limpieza</option>
                                     <option value="4">En Mantenimiento</option>
                                 </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success px-4" [disabled]="habitacionForm.invalid">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>